# the recorder file can have unexpected impact on users' sites
packages/browser/src/entrypoints/recorder.ts           @Insights/team-replay

# Network recorder
packages/browser/src/extensions/replay/external/network-plugin.ts @Insights/team-client-libraries

# Surveys
packages/browser/src/extensions/surveys/               @Insights/team-surveys
packages/browser/src/extensions/surveys.tsx            @Insights/team-surveys
packages/browser/src/entrypoints/surveys.ts            @Insights/team-surveys
packages/browser/src/entrypoints/surveys-preview.es.ts @Insights/team-surveys
packages/browser/src/insights-surveys-types.ts          @Insights/team-surveys
packages/browser/src/insights-surveys.ts                @Insights/team-surveys
packages/browser/src/utils/survey-event-receiver.ts    @Insights/team-surveys
packages/browser/src/utils/survey-utils.ts             @Insights/team-surveys

# Mobile
packages/react-native/                                 @Insights/team-client-libraries

# AI
/packages/ai/package.json                              @Insights/team-llm-analytics

# Web Analytics
packages/browser/src/page-view.ts                      @Insights/team-web-analytics
packages/browser/src/sessionid.ts                      @Insights/team-web-analytics
packages/browser/src/session-props.ts                  @Insights/team-web-analytics
packages/browser/src/utils/blocked-uas.ts              @Insights/team-web-analytics
packages/browser/src/consent.ts                        @Insights/team-web-analytics

# Error tracking
packages/rollup-plugin/                                @Insights/team-error-tracking
packages/nuxt/                                         @Insights/team-error-tracking
packages/nextjs-config/                                @Insights/team-error-tracking
packages/core/src/process/                             @Insights/team-error-tracking
